<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/book.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="book-form" action="/admin/<% if (editing) { %>edit-book<% } else { %>add-book<% } %>" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<% if (editing || hasError) { %><%= book.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="author">Author</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'author') ? 'invalid' : '' %>"
                    type="text" 
                    name="author" 
                    id="author" 
                    value="<% if (editing || hasError) { %><%= book.author %><% } %>">
            </div>
            <div class="form-control">
                <label for="genre">Genre</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'genre') ? 'invalid' : '' %>"
                    type="text" 
                    name="genre" 
                    id="genre" 
                    value="<% if (editing || hasError) { %><%= book.genre %><% } %>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
                    type="text" 
                    name="imageUrl" 
                    id="imageUrl" 
                    value="<% if (editing || hasError) { %><%= book.imageUrl %><% } %>">
            </div>
            <div class="form-control">
                <label for="isbn">ISBN</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'isbn') ? 'invalid' : '' %>"
                    type="text"
                    maxlength="13"
                    minlength="10"
                    name="isbn"
                    id="isbn"
                    placeholder="9780596520687"
                    value="<% if (editing || hasError) { %><%= book.isbn %><% } %>">
            </div>
            <div class="form-control">
                <label for="blurb">Blurb</label>
                <textarea 
                    class="<%= validationErrors.find(e => e.param === 'blurb') ? 'invalid' : '' %>"
                    name="blurb" 
                    id="blurb" 
                    rows="5"><% if (editing || hasError) { %><%= book.blurb %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= book._id %>" name="bookId">
            <% } %>

            <button class="btn" type="submit"><% if (editing) { %>Update Book<% } else { %>Add Book<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>